{% extends 'default.html' %}
{% block title %}
    <title>Post View</title>
{% endblock title %}
{% block content %}
    <div class="container">
        <h1 class="text-center">{{ post.title }}</h1>
        <h3 class="lead">{{ post.author }} </h3>
        <h4 class="lead">Categories:
            {% for category in post.categories.all %}
                <li class="list-inline-item">{{category}}</li>
            {% endfor %}
        </h4>
        <p>{{post.content|safe}}</p>

        <form method="post">
            {% csrf_token %}
            {{ form.as_div }}
            <button type="submit" style="font-size:0.8em;">Send</button>
        </form>

        <h3 class="lead">Community Feedback:</h3>
        {% for reply in post.reply_set.all %}
            <div>
                <hr>
                {{ reply.author }}
                <br>
                {{ reply.content }}
            </div>
        {% endfor %}

    </div>
{% endblock content %}
